/* -------------------------------------------------------------------------
 *  Colours
 * ------------------------------------------------------------------------- */
$red-team-colour: #f84545;
$blue-team-colour: #02baf2;
$grey-header: #5e696d;
$dark-grey-header: #364347;

/* -------------------------------------------------------------------------
 *  Classes
 * ------------------------------------------------------------------------- */
ctf_header {
  background: $dark-grey-header;
}

